{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="min-h-screen flex">
        <!-- <div class="flex flex-col items-center bg-gray-800 py-10 px-6 rounded-4xl shadow-xl shadow-indigo-500/50">
            <span class="text-5xl tracking-widest font-extrabold text-indigo-500 block">MESH</span>
            <div class="flex flex-col py-5 items-center">
                <h1 class="text-4xl font-bold">Welcome Back!</h1>
                <h2 class="text-lg">Please login to continue.</h2>
            </div>
            <form action="/auth/validate-login" method="POST">
                <div class="flex flex-col max-w-xs">
                    <label for="">Username :</label>
                    <input type="text" name="username" id="username" placeholder="Your username" class="border border-white rounded-lg p-2">
                </div>
            </form>
        </div> -->
        <div class="w-1/2 bg-black text-white flex flex-col items-center justify-center rounded-r-[250px] gap-20">
            <div class="flex flex-col items-center">
                <img src="{{ url_for('static', filename='images/Mesh.png') }}" class="w-75">
                <div class="text-2xl tracking-tighter font-semibold text-gray-100">Harmony in Every Connection</div>
            </div>
            <div class="flex flex-col py-5 items-center">
                <div class="text-5xl font-bold">Welcome Back!</div>
                <div class="text-2xl font-normal">Please login to continue.</div>
            </div>
            <div class="flex flex-col items-center gap-2.5">
                <div class="text-xl font-medium">Don't have an account?</div>
                <button type="button" class="text-2xl bg-gray-700 hover:bg-blue-700 active:bg-blue-700 transition-all duration-150 font-semibold p-5 rounded-xl">SIGN IN</button>
            </div>
        </div>
        <div class="w-1/2 flex flex-col items-center justify-center gap-5">
            <div class="text-5xl tracking-wider font-extrabold text-black">LOGIN</div>
            <div class="">
                <span class="flex items-center gap-2">
                    <img src="{{ url_for('static', filename='images/auth/username.png') }}" class="w-8">
                    <span class="text-base">Username :</span>
                </span>
                <input type="text" name="username" id="username" placeholder="Enter your Username" class="border-2 border-gray-400 rounded-lg p-2 text-sm">
                <span class="flex items-center gap-2">
                    <img src="{{ url_for('static', filename='images/auth/password.png') }}" class="w-8">
                    <span class="text-base">Password :</span>
                </span>
                <input type="password" name="password" id="password" placeholder="Enter your Password" class="border-2 border-gray-400 rounded-lg p-2 text-sm">
            </div>
        </div>
    </div>
{% endblock %}