{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="min-h-screen flex">
        <div class="w-1/2 bg-black text-white flex flex-col items-center justify-center rounded-r-[250px] gap-20">
            <div class="flex flex-col items-center">
                <img src="{{ url_for('static', filename='images/Mesh.png') }}" class="w-75">
                <div class="text-2xl tracking-tighter font-semibold text-gray-100">Harmony in Every Connection</div>
            </div>
            <div class="flex flex-col py-5 items-center">
                <div class="text-5xl font-bold">Welcome Back!</div>
                <div class="text-2xl font-normal">Please login to continue.</div>
            </div>
            <div class="flex flex-col items-center gap-2.5">
                <div class="text-xl font-medium">Don't have an account?</div>
                <a href="/auth/sign-up" class="text-2xl bg-gray-700 hover:bg-blue-700 active:bg-blue-700 transition-all duration-150 font-semibold p-5 rounded-xl">SIGN UP</a>
            </div>
        </div>
        <div class="w-1/2 flex flex-col items-center justify-center gap-5">
            <div class="text-5xl tracking-wider font-extrabold text-black">LOGIN</div>
            <form action="/auth/login/validate" method="post" class="flex flex-col gap-4">
                <div class="flex flex-col">
                    <span class="flex justify-right items-center gap-2">
                        <img src="{{ url_for('static', filename='images/auth/username.png') }}" class="w-8">
                        <span class="text-right">Username :</span>
                    </span>
                    <input type="text" name="username" id="username" placeholder="Enter your Username" class="w-70 border-2 border-gray-400 rounded-lg p-2 text-sm">
                </div>
                <div class="flex flex-col">
                    <span class="flex justify-right items-center gap-2">
                        <img src="{{ url_for('static', filename='images/auth/password.png') }}" class="w-8">
                        <span class="text-base">Password :</span>
                    </span>
                    <input type="password" name="password" id="password" placeholder="Enter your Password" class="border-2 border-gray-400 rounded-lg p-2 text-sm">
                </div>
                <span class="flex justify-between text-sm">
                    <span class="flex items-center gap-2">
                        <input type="checkbox" name="remember-me" id="remember-me" class="w-4 h-4">
                        <span>Remember Me</span>
                    </span>
                    <a href="/auth/forgot-password" class="hover:text-blue-500 hover:underline">Forgot Password</a>
                </span>
                <button type="submit" class="text-2xl font-semibold flex justify-center bg-gray-700 text-white hover:bg-blue-500 p-3 transition-all duration-150 rounded-xl">LOGIN</button>
            </form>
        </div>
    </div>
{% endblock %}