{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <style>
        .swal2-confirm {
            margin-left: auto !important;
        }
    </style>

    <div x-data="logoutHandler()" hx-get="/auth/check-session" hx-trigger="every 1s" hx-swap="none" class="p-10">
        <button type="button" class="font-bold bg-red-700 text-white rounded-lg p-5" @click="logout">Logout</button>
    </div>

    <script>
        function logoutHandler() {
            return {
                logout() {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Are you sure?',
                        text: 'You will be logged out of this session.',
                        confirmButtonText: 'Yes',
                        showCancelButton: true,
                        cancelButtonText: 'No'
                    }).then(result => {
                        if(result.isConfirmed) {
                            htmx.ajax('POST', '/auth/logout');
                        }
                    });
                }
            }
        }

        document.body.addEventListener('sessionWarning', async () => {
            await Swal.fire({
                icon: 'warning',
                title: 'Session Expiration Warning',
                text: 'Your session will expire soon. Extend session?',
                confirmButtonText: 'Yes',
                showCancelButton: true,
                cancelButtonText: 'No'
            }).then(result => {
                if(result.isConfirmed) {
                    htmx.ajax('POST', '/auth/extend-session', {
                        swap: 'none'
                    });
                } else {
                    htmx.ajax('POST', '/auth/logout');
                }
            })
        });

        document.body.addEventListener('sessionExpired', async () => {
            await Swal.fire({
                icon: 'error',
                title: 'Session Expired',
                text: 'Please login again.',
                confirmButtonText: 'OK',
                timer: 2500
            }).then(() => {
                htmx.ajax('POST', '/auth/logout');
            });
        });
    </script>
{% endblock %}